stages:
  - lint
  - typecheck
  - audit
  - test


# template for uv installation
.ci-template:
  # image: python:3.13-slim
  cache:
    key: "uv-cache"
    paths:
      - .uv-cache
  variables:
    UV_CACHE_DIR: .uv-cache
  before_script:
  - python -m pip install --upgrade pip
  - python -m pip install uv
  - uv sync --frozen --group dev


# pre-commit hooks
lint:
  stage: lint
  extends: .ci-template
  script:
    - uv run pre-commit run --all-files --show-diff-on-failure
  allow_failure: true


# mypy static type checker
typecheck:
  stage: typecheck
  extends: .ci-template
  script:
    - uv run mypy fpi
  allow_failure: true


# look for vulnerable dependencies
audit:
  stage: audit
  extends: .ci-template
  script:
    - uv run pip-audit .
  allow_failure: true


# unit tests, doctests, and behave tests
test:
  stage: test
  extends: .ci-template
  script:
    - uv run pytest --doctest-modules --maxfail=3 --disable-warnings -q
    - uv run behave tests/behave/features
